<h1 style="text-align:center">Employee Management System</h1>
<br>
<div class="d-grid gap-2">
  <a class="btn btn-lg btn-outline-primary" href="/employee">Add Employee</a>
  <a class="btn btn-lg btn-outline-warning" href="/employee/showEmployee">Show Employee</a>
  <a class="btn btn-lg btn-outline-info" href="/employee/updateData">Update Employee</a>
  <a class="btn btn-lg btn-outline-danger" href="/employee/deleteData">Delete Employee</a>
</div>