{{!-- Page used when the Employee will be inserted Successfully in the Database --}}

<h1 style="text-align: center;">Data Inserted Successfully</h1>
<br>

<div class="row" style="text-align: center;">
    <div class="col-sm-6">
        <a href="" class="btn btn-outline-danger">Add More Employee's</a>
    </div>
    <div class="col-sm-6">
        <a href="/" class="btn btn-outline-info">Go to Home Page</a>
    </div>
</div>